<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/style.css?v=" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js?v1"></script>
</head>

<body>

    <div class="main">
        <header>
            <a href="loginTimer.html" class="mainLink"></a>
            <div class="loginImage" title="Main Window"></div>
        </header>

        <section id="app">
            <div class="dataBar">
                <div class="image"></div>
                <p class="name">{{name}}</p>
                <p class="surename">{{surename}}</p>
            </div>
            <div class="chooseBar">
                <div class="stats" v-on:click="statsBarActive">Best Stats</div>
                <div class="comps" v-on:click="compsBarActive">Competitions</div>
                <div class="edit" v-on:click="editBarActive">Edit profile</div>
                <div class="statsBarActive"></div>
                <div class="compsBarActive"></div>
                <div class="editBarActive"></div>
            </div>
            <div class="dataWindow">
                <p class="compName3">Best Results</p>
                <table class="resultTable3">
                    <thead>
                        <tr>
                            <th class="event3">event</th>
                            <th class="single3">single</th>
                            <th class="avg3">avg</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="event3">2x2</td>
                            <td class="single3"></td>
                            <td class="avg3"></td>
                        </tr>
                        <tr>
                            <td class="event3">3x3</td>
                            <td class="single3"></td>
                            <td class="avg3"></td>
                        </tr>
                        <tr>
                            <td class="event3">4x4</td>
                            <td class="single3"></td>
                            <td class="avg3"></td>
                        </tr>
                        <tr>
                            <td class="event3">5x5</td>
                            <td class="single3"></td>
                            <td class="avg3"></td>
                        </tr>
                    </tbody>
                </table>

                <p>Total Medals</p>

                <table class="medals3">
                    <thead>
                        <tr>
                            <th>gold</th>
                            <th>silver</th>
                            <th>bromze</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="goldMedals3"></td>
                            <td class="silverMedals3"></td>
                            <td class="bronzeMedals3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="compWindow">
                <form action="profileStats.php" method="POST">
                    <select class="compChoice" name="compName">
                    </select>
                    <input class="refreshButton" type="submit" value="refresh">
                </form>
                <div class="addCompButton" v-on:click="addCompButton()">add competition</div>
                <p class="compName"></p>
                <table class="resultTable">
                    <thead>
                        <tr>
                            <th class="event">event</th>
                            <th class="single">single</th>
                            <th class="avg">avg</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="event">2x2</td>
                            <td class="single"></td>
                            <td class="avg"></td>
                        </tr>
                        <tr>
                            <td class="event">3x3</td>
                            <td class="single"></td>
                            <td class="avg"></td>
                        </tr>
                        <tr>
                            <td class="event">4x4</td>
                            <td class="single"></td>
                            <td class="avg"></td>
                        </tr>
                        <tr>
                            <td class="event">5x5</td>
                            <td class="single"></td>
                            <td class="avg"></td>
                        </tr>
                    </tbody>
                </table>

                <p>Medals</p>

                <table class="medals">
                    <thead>
                        <tr>
                            <th>gold</th>
                            <th>silver</th>
                            <th>bromze</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="goldMedals"></td>
                            <td class="silverMedals"></td>
                            <td class="bronzeMedals"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="addCompWindow">
                <form action="addComp.php" method="POST">
                    <input class="addComp" type="submit" value="Add">

                    <p class="writeCompName">Competiton name</p>
                    <input class="compNameInput" type="text" name="compNameText">
                    <table class="resultTable2">
                        <thead>
                            <tr>
                                <th class="event2">event</th>
                                <th class="single2">single</th>
                                <th class="avg2">avg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="event2">2x2</td>
                                <td class="single2"><input type="text" name="cube2Single" value="0"></td>
                                <td class="avg2"><input type="text" name="cube2Avg" value="0"></td>
                            </tr>
                            <tr>
                                <td class="event2">3x3</td>
                                <td class="single2"><input type="text" name="cube3Single" value="0"></td>
                                <td class="avg2"><input type="text" name="cube3Avg" value="0"></td>
                            </tr>
                            <tr>
                                <td class="event2">4x4</td>
                                <td class="single2"><input type="text" name="cube4Single" value="0"></td>
                                <td class="avg2"><input type="text" name="cube4Avg" value="0"></td>
                            </tr>
                            <tr>
                                <td class="event2">5x5</td>
                                <td class="single2"><input type="text" name="cube5Single" value="0"></td>
                                <td class="avg2"><input type="text" name="cube5Avg" value="0"></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Medals</p>

                    <table class="medals2">
                        <thead>
                            <tr>
                                <th>gold</th>
                                <th>silver</th>
                                <th>bromze</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="goldMedals"><input type="text" name="goldMedals" value="0"></td>
                                <td class="silverMedals"><input type="text" name="silverMedals" value="0"></td>
                                <td class="bronzeMedals"><input type="text" name="bronzeMedals" value="0"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="editWindow">
                <input class="nameInput" type="text" v-model="name">
                <input class="surenameInput" type="text" v-model="surename">
            </div>
        </section>
    </div>

    <script>
        $(".loginImage").click(function () {
            window.location = "loginTimer.php";
        });

        function myFunction() {
            let x = document.querySelector(".compChoice").value;
            $(".compChoice").val("x");
        }


        var app = new Vue({
            el: '#app',
            data: {
                name: "Jakub",
                surename: "Wojtaszewski"
            },
            methods: {
                statsBarActive: function () {
                    document.querySelector('.statsBarActive').style.backgroundColor = "gold";
                    document.querySelector('.compsBarActive').style.backgroundColor = "#ddd";
                    document.querySelector('.editBarActive').style.backgroundColor = "#ddd";

                    document.querySelector('.addCompWindow').style.display = "none";
                    document.querySelector('.dataWindow').style.display = "block";
                    document.querySelector('.compWindow').style.display = "none";
                    document.querySelector('.editWindow').style.display = "none";

                },
                editBarActive: function () {
                    document.querySelector('.editBarActive').style.backgroundColor = "gold";
                    document.querySelector('.compsBarActive').style.backgroundColor = "#ddd";
                    document.querySelector('.statsBarActive').style.backgroundColor = "#ddd";

                    document.querySelector('.addCompWindow').style.display = "none";
                    document.querySelector('.editWindow').style.display = "block";
                    document.querySelector('.compWindow').style.display = "none";
                    document.querySelector('.dataWindow').style.display = "none";

                },
                compsBarActive: function () {
                    document.querySelector('.compsBarActive').style.backgroundColor = "gold";
                    document.querySelector('.statsBarActive').style.backgroundColor = "#ddd";
                    document.querySelector('.editBarActive').style.backgroundColor = "#ddd";

                    document.querySelector('.addCompWindow').style.display = "none";
                    document.querySelector('.compWindow').style.display = "block";
                    document.querySelector('.dataWindow').style.display = "none";
                    document.querySelector('.editWindow').style.display = "none";

                },
                addCompButton: function () {
                    document.querySelector('.addCompWindow').style.display = "block";
                    document.querySelector('.compWindow').style.display = "none";
                    document.querySelector('.dataWindow').style.display = "none";
                    document.querySelector('.editWindow').style.display = "none";

                }
            }
        })
    </script>
</body>

</html>